.custom-tooltip {
  display: flex;
  .btn {
    width: 88px;
    position: relative;
    text-align: center;
    padding: 8px 0;
    margin: 0 13px 0 0;
    color: $blue;
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    &:last-child {
      margin: 0;
    }
    &:hover, &:focus {
      .tooltip.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  @media(max-width: 540px) {
    flex-direction: column;
    align-items: center;
    .btn {
      margin: 0 0 13px 0;
    }
  }
  .tooltip {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    border: 1px solid $selectHover;
    background: $white;
    color: $darkBlue;
    box-sizing: border-box;
    box-shadow: 0 6px 15px rgba(0, 44, 92, 0.1);
    width: 140px;
    padding: 9px 0 6px 7px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;

    &.bottom, &.top, &.left, &.right {
      &:after {
        content: " ";
        position: absolute;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #F2F3F6 transparent;
      }
    }
    &.bottom, &.top  {
      left: 50%;
      margin-left: -70px;
      &:after {
        left: 50%;
        margin-left: -5px;
      }
    }
    &.bottom {
      top: 50px;
      &:after {
        bottom: 100%;
      }
    }
    &.top {
      bottom: 50px;
      &:after {
        top: 100%;
      }
    }
    &.left, &.right  {
      top: -5px;
      &:after {
        top: 50%;
        margin-top: -5px;
      }
    }
    &.left {
      right: 105px;
      &:after {
        left: 100%;
      }
    }
    &.right {
      left: 105px;
      &:after {
        right: 100%;
      }
    }
  }
}